@import url('https://fonts.googleapis.com/css2?family=Modak&family=Quicksand:wght@400;500;600&family=Ubuntu:wght@300&display=swap');

body {
    background-image: url("../books-pattern.jpg");
    background-size: 600px;
    background-repeat: repeat;
    font-family: 'Quicksand';
}

input,
textarea,
select,
button {
    outline: none;
}

a {
    text-decoration: none !important;
}

form .form-control:focus {
    border-color: #9f5f60;
    box-shadow: none;
}

.navbar {
    background-color: #9f5f60;
    color: white;
    height: 70px;
}

.navbar-brand {
    font-size: 26px;
    margin-left: 30px;
}

.content {
    background: #edd8e2;
    max-width: 800px;
    margin: auto;
    margin-top: 35px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}

.header-content {
    background-color: #b27079;
    height: 60px;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header-content h3 {
    margin-left: 40px;
    margin-bottom: 0px;
    color: white;
    font-size: 24px;
}

.body-content {
    padding: 30px 40px 20px;
}

.button {
    border: unset;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #79a38f;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
    font-weight: 400;
}

.button:active {
    top: 2px;
}

.button:focus {
    border: unset;
    outline: unset;
}

.button-form {
    margin-bottom: 15px;
    margin-top: 30px;
}

.custom-table {
    background-color: #ffebd0;
    margin-top: -10px;
    margin-bottom: -5px;
    border-radius: 3px !important;
    overflow: hidden !important;
    color: #61393a;
}

table.custom-table>thead>tr>th {
    border: 2px solid #cdb573;
}

table.custom-table>tbody>tr>td {
    border: 2px solid #cdb573;
}

textarea {
    padding: 10px;
    resize: none;
}

.alert {
    margin-bottom: 0px;
    text-align: center;
    border-radius: 0px;
    border-top: 0.1px solid #3f133e;
    border-bottom: 0.1px solid #3f133e;
}

.pagination {
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #b27079 !important;
    border-color: #b27079 !important;
    border-radius: 50%;
    padding: 6px 12px;
}

.page-link {
    z-index: 3;
    color: #b27079 !important;
    background-color: #fff;
    border-color: #9f5f60;
    border-radius: 50%;
    padding: 6px 12px !important;
}

.page-item:first-child .page-link {
    border-radius: 30% !important;
}

.page-item:last-child .page-link {
    border-radius: 30% !important;
}

.pagination li {
    padding: 3px;
}

.disabled .page-link {
    color: #212529 !important;
    opacity: 0.5 !important;
}

.page-link:hover {
    background-color: #f9b0b4;
}

.page-link:focus,
.page-link:active {
    outline: none !important;
    box-shadow: none;
}

.modal-content {
    border-radius: 50px !important;
}

.modal-title {
    font-size: 26px;
}

.modal-header {
    background-color: #9f5f60;
    color: white;
    padding-left: 20px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.modal-body {
    background-color: #ffebd0;
    padding: 20px;
}

.modal-footer {
    background-color: #ffebd0;
    max-height: 70px;
    align-items: center;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.button-modal {
    margin-top: 28px;
    width: 90px;
    background-color: #79a38f;
}

.button-modal:hover {
    background: #79a38f !important;
}

.button-modal:focus,
.button-modal:active {
    outline: none !important;
    box-shadow: none !important;
}

.button-modal:active {
    background: #3c5147 !important;
}