body {
    background-color: #d3a18f;
}

input,
textarea,
select,
button {
    outline: none;
}

form .form-control:focus {
    border-color: #9f5f60;
    box-shadow: none;
}

.navbar {
    background-color: #9f5f60;
    color: white;
}

.content {
    background: #edd8e2;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}

.header-content {
    background-color: #b27079;
    height: 70px;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header-content h3 {
    margin-left: 40px;
    margin-bottom: 0px;
}

.body-content {
    padding: 40px;
}

.button {
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #71a6b2;
    color: white;
    padding: 5px;
    cursor: pointer;
    border: 2px solid #3d6872;
}

.button:active {
    background-color: #3d6872;
    border: 2px solid #3d6872;
}

.button-form {
    margin-bottom: 0px;
    margin-top: 30px;
}

.custom-table {
    background-color: #efe9cd;
}

table.custom-table>thead>tr>th {
    border: 2px solid #cdb573;
}

table.custom-table>tbody>tr>td {
    border: 2px solid #cdb573;
}

textarea {
    padding: 10px;
    resize: none;
}